body {
    font: 100% "Avenir", SansSerif;
    background-color: #b9b9e0;
    margin: 20px;
    padding: 20px;
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-attachment: fixed

}

@media only screen and (max-width: 300px) {

}

@media only screen and (min-width: 300px) and (max-width: 768px) {

}

@media only screen and (min-width: 768px) {
    div.medium {
        float: left;
        display: inline;
        width: 30%;
        margin: 15px;
        background-color: whitesmoke;
    }
}